<mat-toolbar>
    
    <app-menu></app-menu>
    
    <span class="example-spacer"></span>
    <a routerLink="home">
    <button mat-icon-button 
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <img class="" src="assets/logo/logo-r.png" alt="LWA">
    </button>
    </a>
    <span class="example-spacer"></span>
    <a routerLink="shopping-cart"><button mat-icon-button color="example-icon" aria-label="shopping-cart"><mat-icon>shopping_cart</mat-icon></button></a>
  </mat-toolbar>
  