.example-spacer {
    flex: 1 1 auto;
}

img {
    width: 40px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}


