.example-spacer {
    flex: 1 1 auto;
}

img {
    width: 40px;
}

mat-icon {
    color: #2b2d42;
}

.logo.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo.mobile.title {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 480px){
    .hide{   
        visibility : hidden; 
    }
}

@media (min-width: 480px){
    .show{
        display : none;    
        visibility : hidden; 
    }
}

@media (max-width: 480px){
    .logo.desktop {
        display : none; 
        visibility : hidden; 
    }
}

@media (min-width: 480px){
    .logo.mobile {
        display : none; 
        visibility : hidden; 
    }
}

@media (max-width: 480px){
    .logo.mobile {
        position: fixed;
        left: 0;
        right: 0;
    }
}


a {

    text-decoration: none;
    color: inherit;
}

button {
    width: 100%;
    height: 100%;
}

.cart-button {
    width: 40px;
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.mat-toolbar {
    padding: 32px 32px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFCE8;
    box-shadow: 0px .5px 4px #2b2d42;
}

mat-icon {
    color: #2B2D42;
}

p {
    margin: 0;
}

.container .toolbar.logo.checkout { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.toolbar .logo.cart.singular {
}
.toolbar .logo.cart.plural {
    display: flex;
    justify-content: center;
    width: 100%;
}

.toolbar .logo.cart {
    display: flex;
}

.container .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}





