.example-spacer {
    flex: 1 1 auto;
}

img {
    width: 40px;
}

mat-icon {
    color: #2b2d42;
}

.logo-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a {

    text-decoration: none;
    color: inherit;
}

button {
    width: 100%;
    height: 100%;
}

.cart-button {
    width: 40px;
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.mat-toolbar {
    padding: 32px 32px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFCE8;
    
    box-shadow: 0px .5px 4px #2b2d42;
}

mat-icon {
    color: #2B2D42;
}


