<div class="container">
    <mat-toolbar>
    
        <app-menu></app-menu>
        
        <span class="example-spacer"></span>
        <div class="logo-container">
            <a routerLink="/home" routerLinkActive="active">
            <button mat-icon-button 
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
                <img class="" src="assets/logo/logo-r.png" alt="LWA">
            </button>
            </a>
        
        </div>
        <span class="example-spacer"></span>
        <a routerLink="shopping-cart">
            <button mat-icon-button color="example-icon" aria-label="shopping-cart">
                <mat-icon 
                    [matBadge]="count" 
                    [matBadgeHidden]="count === 0"
                    matBadgeColor="accent" 
                    matBadgePosition="below after"
                    matBadgeSize="small"
                    matBadgeOverlap="true"
                    >shopping_cart</mat-icon>
            </button>
        </a>
      </mat-toolbar>
</div>

  
  