<div class="container">
    <mat-toolbar>
        <app-menu class="hide"></app-menu>
        
        
        <div class="logo desktop">
            <a routerLink="/home" routerLinkActive="active">
            <button mat-icon-button 
                class="example-icon favorite-icon"
                aria-label="logo">
                <img class="" src="assets/logo/logo-r.png" alt="LWA">
            </button>
            </a>
        </div>
        <div class="logo mobile">
            <p>INSERT DYNAMIC TITLE</p>
        </div>
        
        
        <a routerLink="shopping-cart" class="hide">
            <button mat-icon-button aria-label="shopping-cart" class="cart-button">
                <mat-icon 
                    [matBadge]="count" 
                    [matBadgeHidden]="count === 0"
                    matBadgeColor="accent" 
                    matBadgePosition="below after"
                    matBadgeSize="small"
                    matBadgeOverlap="true"
                    >shopping_cart</mat-icon>
            </button>
        </a>
        <app-mobile-menu class="show"></app-mobile-menu>
      </mat-toolbar>
</div>

  
  