<div class="desktop-footer">
    <nav class="footernav">
        <h4><a class="exclude" routerLink="products">PRODUCTS</a></h4>
        <a routerLink="products">LWA</a>
    </nav>
    <nav class="footernav">
        <h4>PAGES</h4>
        <a routerLink="contact">Contact</a>
    </nav>
    <nav class="footernav">
        <h4>SOCIAL</h4>
        <a routerLink=".">Instagram</a>
    </nav>
</div>

<div class="mobile-footer">
    <div class="mobile-footer send-button">

    </div>
    <div class="mobile-footer cart-button" *ngIf="!onCheckout && !onContactPage && count > 0 && isShopping">
        <button mat-flat-button class="cart-button-container" color="transparent" routerLink="/shopping-cart" routerLinkActive="true">
            <mat-icon>shopping_cart</mat-icon>
            <p *ngIf="count < 2">{{count}} ITEM</p>
            <p *ngIf="count > 1">{{count}} ITEMS</p>
        </button>
    </div>
    <div class="mobile-footer checkout-button">

    </div>
    
</div>

