.desktop-footer {
    display: flex;
    padding: 64px;
}

/* @media (min-width: 480px){
    .desktop-footer {
        margin-left: 34px;
        margin-right: 34px;
        
    }
} */

.mobile-footer {

}

@media (max-width: 480px){
    .desktop-footer {
        display: none;
        visibility: hidden;
    }
}





.desktop-footer .footer {
    width: 25%;
    text-transform: capitalize;
}

.desktop-footer .footer.social .content {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 24px;
}

// REFACTORING

h4 {
    padding: 0 8px;
    margin: 0 0 24px;
}

nav.footernav {
    padding: 0 32px 0 0;
}

.footernav h4 a {
    padding: 0 0 0 0;
    opacity: 1;
}
.footernav a {
    padding: 9px 8px;
    opacity: 0.7;
}

.row.cart.button {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
  }

.row.cart.button {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.row.cart.button button {
    width: 100%;
    height: 64px;
    background-color:#E9D8B7;
}

.row.cart.button p {
    margin: 0;
}

@media (min-width: 480px){
.row.cart.button{
    display : none; 
    visibility : hidden; 
    }
}