<div class="footer-container">
    <div class="footer-products">
        <p>products</p>
        <div class="footer-products-content">
            <a routerLink="products"><span>LWA</span></a>
        </div>
    </div>
    <div class="footer-pages">
        <p>pages</p>
        <div class="footer-pages-content">
            <a routerLink="contact"><span>contact</span></a>
        </div>
    </div>
    <div class="footer-social">
        <p>social</p>
        <div class="footer-social-content">
            <a routerLink="."><span>instagram</span></a>
            <a routerLink="."><span>facebook</span></a>
        </div>
    </div>
</div>

