.footer-container {
    color: white;
    text-transform: uppercase;
    display: flex;
    width: auto;
    padding: 64px;
    background-color: #2B2D42;
    flex-grow: 1;
}

.footer-container a {
    color: white;
    opacity: 75%;
    padding: 9px 0;
    text-transform: capitalize;
}

.footer-products {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    width: 33%;
    
}

.footer-social {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-pages-content {
    font-size: 11px;
    display: flex;
}

.footer-products-content {
    display: flex;
    font-size: 11px;
}

.footer-social-content {
    font-size: 11px;
}

/* .footer-social-content span {
    margin-left: 8px;
} */

.footer-social-content a {
    display: flex;
    align-items: center;
    
}

p {
    margin-bottom: 24px;
    color: white;
}

img {
    width: 20px;
    opacity: 20%;
}