.footer-container {
    z-index: 1000;
    color: white;
    text-transform: uppercase;
    display: flex;
    width: auto;
    border-top: 1px solid #2b2b2b;
    padding: 64px;
    background-color: #2B2D42;
}

.footer-products {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0 8px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.footer-pages-content {
    font-size: 11px;
    opacity: 75%;
    display: flex;
    text-transform: capitalize;
    color: white;
}

.footer-products-content {
    text-transform: capitalize;
    display: flex;
    font-size: 11px;
    opacity: 75%;
    color: white;
    
}

.footer-social-content {
    text-transform: capitalize;
    font-size: 11px;
    opacity: 75%;
    color: white;
}

.footer-social-content span {
    text-transform: capitalize;
    margin-left: 8px;
    color: white;
}

.footer-social-content a {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color: white;
}

a {
    
    color: inherit;
    padding: 9px 0;
    color: white;
    
}

p {
    margin-bottom: 24px;
    color: white;
}

img {
    width: 20px;
    opacity: 20%;
}