<div class="container typography" *ngIf="!onCheckout" [@fade]="'in'">
    <button mat-icon-button (click)="displayMenuTrue()" id="arrow-button">
        <mat-icon color="primary" id="arrow">keyboard_arrow_down</mat-icon>
    </button>
    <div color="primary" class="dropdown" *ngIf="displayMenu" (clickOutside)="onClickedOutside($event)" >
        <button class="center" mat-menu-item (click)="hideMenu()"><a class="center" routerLink="/home" routerLinkActive="active"><span class="brand-name">LWA</span></a></button>
        <button class="center" mat-menu-item (click)="hideMenu()"><a routerLink="products">PRODUCTS</a></button>
        <button class="center" mat-menu-item (click)="hideMenu()"><a routerLink="home">GALLERY</a></button>
        <button class="center" mat-menu-item (click)="hideMenu()"><a routerLink="contact">CONTACT</a></button>
        <button class="center" mat-menu-item routerLink="contact" (click)="hideMenu()"><img src="../../../assets/social/instagram.png" alt="instagram"></button>
        <div class="bigcat-credit">
            <button class="center" mat-menu-item (click)="hideMenu()"><a routerLink="home"><p class="bigcat-link">BIGCAt<img class="bigcat-logo" src="../../../assets/logo/BIgCAT.svg" alt="instagram"></p></a></button> 
        </div>
    </div>
</div>

