/* a {
    text-decoration: none;
    color: #2B2D42;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E9D8B7;

    -webkit-animation: fadein 300ms; 
       -moz-animation: fadein 300ms;
        -ms-animation: fadein 300ms;
         -o-animation: fadein 300ms;
            animation: fadein 300ms;
}

.outside {
    height: 100%;
}



.brand-name {
    font-size: 24px;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
}

img {
    width: 24px;
} */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// REFACTORING
.container.typography {
    position: relative;
    z-index: 9;
}

.container.typography a {
    text-decoration: none;
    color: inherit;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;
    padding: 22px;
}

.dropdown {
    background-color: #E9D8B7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-animation: fadein 300ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 300ms; /* Firefox < 16 */
    -ms-animation: fadein 300ms; /* Internet Explorer */
    -o-animation: fadein 300ms; /* Opera < 12.1 */
    animation: fadein 300ms;
}

img {
    width: 16px
}

.philly-credit {
    padding: 24px;
    
}

p.philly-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 0 0 0;
    background-color: rgba($color: #000000, $alpha: 0.1);
    width: 64px;
    height: 32px;
}

button {
    border: none;
}

