.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 64px 0;

    width: 100%;
}

.checkout-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.checkout-title p {
    display: flex;
    
    justify-content: right;
    align-items: center;
    margin: 0;
}

.checkout-title h3 {
    margin-top: 88px;
    margin-bottom: 88px;
    color: #282A3E;
    font-weight: bold;
    text-transform: capitalize;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-sub-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

mat-vertical-stepper {
    background-color: #FFFCE8;
    width: 100%;
}

::ng-deep .mat-step-header {
    padding: 24px 0;
}

.input-full-width {
    width: 100%;
}

.checkout-shipping-container {
    display: flex;
    flex-direction: column;
}