<!-- <div class="container">
    <div class="row title">
        <h3>checkout</h3>
        <a routerLink="/shopping-cart" routerLinkActive="true">
        <p>back to cart</p>
      </a>
    </div>
    
    <div class="row content">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="contactInformationFormGroup">
          <form [formGroup]="contactInformationFormGroup">
            <ng-template matStepLabel>Contact Information</ng-template>
            <mat-form-field>
              <input matInput placeholder="First name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last name" formControlName="firstName" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email adress" formControlName="firstName" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Phone (optional)" formControlName="firstName">
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <div>
            <mat-step [stepControl]="shippingFormGroup" >
                <form [formGroup]="shippingFormGroup">
                  <ng-template matStepLabel>Shipping</ng-template>
                  <mat-form-field>
                    <input matInput formControlName="adress" placeholder="Adress" required class="input-full-width">
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput formControlName="adress" placeholder="Apt num, Suite (optional)">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput formControlName="adress" placeholder="City" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput formControlName="adress" placeholder="State / Province" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput formControlName="adress" placeholder="Zip / Postal code" required>
                        
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Country</mat-label>
                      <mat-select value="UNITED STATES" type="text" id="type" placeholder="Type de produit" formControlName="adress" required>
                          <mat-option *ngFor="let country of countries" [value]="country.value">
                            {{country.viewValue}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
        </div>
        
        <mat-step [stepControl]="paymentFormGroup">
            <form [formGroup]="paymentFormGroup">
              <ng-template matStepLabel>Payment</ng-template>
              <mat-form-field>
                <input matInput formControlName="payment" placeholder="card" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step class="my-alternate-theme">
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div class="checkout-button">
            <button mat-button matStepperPrevious color="accent" >Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <i>Your order:</i>
    
        <div *ngFor="let product of cartContent" class="sub-sub-container">
            <p>Nom du produit : </p>
            <p>{{product.name}}</p>
            <p>Prix du produit : </p>
            <p>{{product.price | currency:"EUR":"symbol"}}</p>
            <p>Quantité : </p>
            <p>{{product.quantity}}</p>
        </div>
    
    
    <p>TOTAL : </p>
    <span>{{totalCost | currency:"EUR":"symbol"}}</span>
    </div>
  
</div> 
 -->

<div class="wrapper">
  <a routerLink="/home" class="header_image"><img class="logo-lwa" src="assets/logo/logo-r.png" alt="LWA"></a>
  <div class="content">
    <header>
      <h1>Checkout</h1>
      <a routerLink="/shopping-cart" class="edit">back to cart</a>
    </header>
  
    <div class="section buyer active" >

      <mat-accordion MatAccordionDisplayMode="flat" >
        <mat-expansion-panel hideToggle class="mat-elevation-z0" [expanded]="true">
          <mat-expansion-panel-header class="section_summary">
            <mat-panel-title >
              <h2>Contact Information</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>CONTACT INFORMATION FORM</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="mat-elevation-z0">
          <mat-expansion-panel-header class="section_summary">
            <mat-panel-title>
              <h2>Shipping</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>SHIPPING INFORMATION FORM</p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="mat-elevation-z0">
          <mat-expansion-panel-header class="section_summary">
            <mat-panel-title>
              <h2>Payement</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>PAYMENT FORM</p>
        </mat-expansion-panel>
      </mat-accordion>
      
      <!-- <div class="section_summary">
        <h2>Contact Information</h2>
      </div>
      
    </div>
    <div class="section_summary">
      <h2>Shipping</h2>
      
    </div>
    <div class="section_summary">
      <h2>Payment</h2>
    </div> -->
    
    
    <div class="section summary">
      <div class="cart">
        <h2 class="section_header">Summary</h2>
        <table class="items">
          <tbody>
            <tr *ngFor="let product of cartContent">
              <td class="product">
                <p>{{product.name}}</p>
                <div class="product-size">
                  <i>{{product.size}}</i>
                  <p *ngIf="product.quantity > 1" class="size-price"><img class="cross" src="../../assets/misc/cross.svg" alt="LWA">{{product.quantity}} @ {{product.price | currency:"EUR":"symbol"}}</p>
                </div>
                
              </td>
              <td class="price">
                <p>{{product.price * product.quantity | currency:"EUR":"symbol"}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <ul class="receipt">
      <li class="subtotal">
        <p>Subtotal</p>
        <p>{{totalCost | currency:"EUR":"symbol"}}</p>
      </li>
      <li class="shipping_total">
        <p>Shipping</p>
        <p>{{0 | currency:"EUR":"symbol"}}</p>
      </li>
      <li class="tax_total">
        <p>Tax</p>
        <p>{{0 | currency:"EUR":"symbol"}}</p>
      </li>
      <li class="total">
        <p>Total</p>
        <p style="font-weight: bold;">{{totalCost | currency:"EUR":"symbol"}}</p>
      </li>
    </ul>
    
</div>  


