.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.container .row {
    /* border: 1px dotted grey; */
    width: 100%;
    justify-content: center;
}

.container .row.title {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    text-align: center;
    padding-bottom: 32px;
}

.container .row.content{
    flex: 1 1 auto;
}

.container .row.product {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.container .row.add {
    display: flex;
    
}

.container .row.footer {
    display: flex;
    
}

p {
    margin: 0;
    display: flex;
    align-items: center;
}

h3 {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

h1 {
    margin: 0;
}

img {
    width: 100%;
    margin: 0;
}

/* .checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 64px 0;

    width: 100%;
}

.checkout-title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.checkout-title p {
    display: flex;
    
    justify-content: right;
    align-items: center;
    margin: 0;
}

.checkout-title h3 {
    margin-top: 88px;
    margin-bottom: 88px;
    color: #282A3E;
    font-weight: bold;
    
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-sub-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

mat-vertical-stepper {
    background-color: #FFFCE8;
    width: 100%;
}

::ng-deep .mat-step-header {
    padding: 24px 0;
}

.input-full-width {
    width: 100%;
}

.checkout-shipping-container {
    display: flex;
    flex-direction: column;
} */