a {
    text-decoration: none;
    color: #2B2D42;
}

.mobile-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 118px;
    padding: 0;
}
  
@media (max-width: 668px) {
    .mobile-header {
        height: 62px;
    }
}

.mobile-header-logo {
    width: 100%;
    text-align: center;
    flex: 1;
}

.mobile-header-brandname {
    width: 100%;
    margin: 0;
    
    text-align: center;
}

.logo-lwa {
    width: 40px;
}

h1 {
    font-size: 14px;
    flex: 1;
}

.mobile-menu {
    position: relative;
    z-index: 10;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    .mobile-menu {
        
        
    }
}

p {
    margin: 0 0 0 0;
}

.mobile-header-cart {
    position: absolute;
    left: 0;
    width: 100%;
    top: 16px;

    display: flex;
    justify-content: center;
}

.block-separator {
    flex: 1;
}