<div class="mobile-header">
    
    <div class="mobile-header-logo" *ngIf="onHomePage">
        <a routerLink="/home" routerLinkActive="active">
        <button mat-icon-button 
            aria-label="logo">
            <img class="logo-lwa" src="assets/logo/logo-r.png" alt="LWA">
        </button>
        </a>
    </div>

    <div class="mobile-header-cart-container">
        <div class="mobile-header-cart" *ngIf="!onCheckout && !isShopping && productAmount < 2">
            <mat-icon aria-hidden="false" aria-label="cart">shopping_cart</mat-icon>
            <p>{{productAmount}} ITEM</p>
        </div>
        <div class="mobile-header-cart" *ngIf="!onCheckout && !isShopping && productAmount > 1">
            <mat-icon aria-hidden="false" aria-label="cart">shopping_cart</mat-icon>
            <p>{{productAmount}} ITEMS</p>
        </div>
    </div>
    
    
    <h1 class="mobile-header-brandname" *ngIf="!onHomePage && !onCheckout && isShopping" >{{pageTitle}}</h1>
    
    <app-mobile-menu class="mobile-menu"></app-mobile-menu>
    
</div>
