a {
    text-decoration: none;
    color: #2B2D42;
}

.mobile-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.mobile-header-logo {
    width: 100%;
    position: absolute;
    top: 12px;
    text-align: center;
}

.mobile-header-brandname {
    width: 100%;
    position: absolute;
    top: 16px;
    text-align: center;
}

.logo-lwa {
    width: 40px;
}

h1 {
    font-size: 14px;
    margin-bottom: 0;
}

.mobile-menu {
    position: relative;
    z-index: 10;
}

p {
    margin: 0 0 0 0;
}

.mobile-header-cart {
    position: absolute;
    left: 0;
    width: 100%;
    top: 16px;

    display: flex;
    justify-content: center;
}
