.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 640px;
}

.container .row {
    /* border: 1px dotted grey; */
    width: 100%;
}

.container .row.title {
flex: 0 1 auto;
text-align: center;
padding-bottom: 32px;

}

@media (max-width: 480px){
    .container .row.title {
        display : none; 
        visibility : hidden; 
    }
}

.container .row.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    
}

.container .row.content>* {
    flex: 1 1 258px;
}

.row.mat.card {
    margin-bottom: 34px;
    flex-grow: 1;
}



.container .mat.card.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    margin: 0;
    font-weight: bold;
}

mat-card {
    border: 1px solid #2B2D42;
    color: #F5F8DE;
    display: flex;
    flex-direction: column;
    background-color: #2B2D42;
    
}

@media (min-width: 480px){
    mat-card {
        margin-left: 34px;
        margin-right: 34px;
        
    }
}





