<!-- <div class="container">
    <div class="row title">
        <h1>PRODUCTS</h1>
    </div>
    
    <div *ngIf="products" class="row content">
        <div *ngFor="let product of products" class="row mat card">
            <a routerLink="/products/{{product.idProduct}}" (click)="setProductName(product.name)">
            <mat-card>

                <img mat-card-image src="https://source.unsplash.com/collection/9634735/1600x900" alt="product">
                
            </mat-card>
            
            
        </a>
    </div>
    </div>
</div> -->
<h1 class="page-title">PRODUCTS</h1>
<div *ngIf="products" class="container">
    <div  *ngFor="let product of products" class="product">
        <a class="display-column" routerLink="/products/{{product.idProduct}}" (click)="setProductName(product.name)">
            <img src="https://source.unsplash.com/collection/9634735/1600x900" alt="product">
            <div class="product-info">
                <div class="display-price">{{ product.price | currency:"EUR":"symbol"}}</div>
                <div class="display-name">{{ product.name }}</div>
            </div>
            
        </a>
    </div>
    <!-- <a routerLink="/products/create-product" routerLinkActive="active">create product</a> -->
</div>




