/* .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 640px;
}

.container .row {
    width: 100%;
}

.container .row.title {
flex: 0 1 auto;
text-align: center;
padding-bottom: 32px;

}

@media (max-width: 480px){
    .container .row.title {
        display : none; 
        visibility : hidden; 
    }
}

.container .row.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    
}

.container .row.content>* {
    flex: 1 1 258px;
}

.row.mat.card {
    margin-bottom: 32px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}



.container .mat.card.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    font-size: 24px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    margin: 0;
    font-weight: bold;
}

mat-card {
    display: flex;
    flex-direction: column;
    background-color:transparent;
    color: #E9D8B7;
    padding: 0;
}

@media (min-width: 480px){
    mat-card {
        margin-left: 34px;
        margin-right: 34px;
        
    }
}

.display-price {
    width: 100%;
    padding-top: 7px;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
    color: #2b2d42;
    font-weight: bold;
}

img {
    padding-top: 16px;
    object-fit:cover;

}




 */
.container {
    touch-action: pan-y !important;
}

.product {
    padding: 48px;
    margin: 2px 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.display-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: inherit;
    text-decoration: none;
 }

 .display-price {
    font-size: 21px;
    opacity: 0.7;
}

 .display-name {
     font-size: 14px;
 }

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 32px;
    height: 65px;
}

.page-title {
    margin: 96px;
    text-align: center;
}

@media (max-width: 480px) {
    .page-title {
        display: none;
        visibility: hidden;
    }
}
