.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.container .row {
    /* border: 1px dotted grey; */
    width: 100%;
}

.container .row.title {
flex: 0 1 auto;
text-align: center;
padding-bottom: 32px;
}



.container .row.content {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    
}

.table.content {
    width: 100%;
    border: 2px solid #2b2d42;
}

.separator {
    height: 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    font-weight: bold;
}

button {
    width: 100%;
}

.center {
    
    text-align: center;
}
  
/* tr.mat-footer-row {
    font-weight: bold;
} */

/* a {
    text-align: center;
    width: 100%;
} */

/* a button {
    margin: 88px 0;
    width: 100%;
} */

@media (max-width: 480px){
    .container .row.title {
        display : none; 
        visibility : hidden; 
    }
}