<div class="container">

    <h1 class="page-title">CART</h1>
    <ul  ng-template *ngIf="cart?.length; else noRecipes" class="ng template">

      <li *ngFor="let product of cart" class="cart-item">

        <div class="item-image-details">
          <div class="item-image">
            <img src="https://source.unsplash.com/collection/9634735/1600x900" alt="product">
            <div class="cart-item item-image item-delete">
              <button mat-button class="float-above" mat-icon-button color="primary" aria-label="delete" 
                (click)="removeProductFromCart(product.idProduct)" 
                (click)="setProductQuantity()">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
          <div class="item-details">

            <a class="item-product-link" routerLink="/products/{{product.idProduct}}" routerLinkActive="active">
              <span class="item-details-price">{{getProductBasePrice(product.idProduct) | currency:"EUR":"symbol"}}</span>
              <span class="item-details-name">{{product.name}}</span>
              <span class="item-details-option">size</span>
            </a>
            
          </div>
        </div>
        <div class="item-quantity-holder">
          <span class="quanty-label">QTY.</span>
          <form [formGroup]="quantityFormGroup" class="example-form">
            <mat-form-field >
              <!-- <mat-label>Favorite food</mat-label> -->
              <input #quantity matInput value={{product.quantity}} type="number"
              (input)="updateQuantity(product.idProduct, quantity.value)"
              (input)="setProductQuantity()"
              (input)="this.calculTotal()"
              (mouseout)="ngOnInit()">
            </mat-form-field>
          </form>
        </div>
        
        
      </li>
      
      <div class="regular checkout">
        <button class="hide checkout-button" routerLink="/checkout" routerLinkActive="true" mat-flat-button color="primary" type="submit" (click)="checkout()">CHECKOUT</button>
      </div>
      <div class="regular checkout">
        <!-- <button class="checkout-button" mat-flat-button color="primary" type="submit" (click)="clearCart()">CLEAR CART</button> -->
      </div>
      
    </ul>
    <div class="shopping-cart-footer">
      <div class="subtotal"><p>SUBTOTAL {{ totalCost | currency:"EUR":"symbol"}}</p></div>
      <div class="footer-cart-buttons">
        <button mat-flat-button class="continue-shopping-button" routerLink="[/shopping-cart]">CONTINUE SHOPPING</button>
        <button mat-flat-button class="checkout-button" routerLink="/checkout">CHECKOUT</button>
      </div>
  </div> 
</div>

    <ng-template #noRecipes><p>Your cart is empty!</p></ng-template>
      
    
  <!-- <div ng-template *ngIf="dataSource?.length; else noRecipes" class="row content">
    <table mat-table [dataSource]="dataSource" class="table content" color="primary">
      
        <ng-container matColumnDef="name" color="primary">
          <th mat-header-cell *matHeaderCellDef> Item </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element">
                <form [formGroup]="quantityFormGroup" class="example-form">
                    <mat-form-field style="width:10vw">
                        <input type="number" min="1" id="element.idProduct" matInput formControlName="quantity" required
                        (input)="element.price = getProductBasePrice(element.idProduct) * this.quantityFormGroup.get('quantity').value"
                        (input)="element.quantity = this.quantityFormGroup.get('quantity').value">
                    </mat-form-field>
                </form>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency:"EUR":"symbol"}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:"EUR":"symbol"}} </td>
        </ng-container>
  
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" aria-label="delete" (click)="removeProductFromCart(element.idProduct)">
              <mat-icon>clear</mat-icon>
            </button></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      
        
        
      </table>
      <div class="separator"></div>
      <div class="center">
        <a *ngIf="isEnabled" routerLink="/checkout" routerLinkActive="true" class="checkout button">
          <button mat-raised-button color="primary" type="submit" (click)="checkout()" [disabled]="!dataSource.length">CHECKOUT</button>
        </a>
      </div>
      <div class="separator"></div>
    </div>
    
    
      
    <ng-template #noRecipes><p>Your cart is empty!</p></ng-template>
  </div> -->


  


