/* .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 96px;
    height: 100%;
  }
  
  .container .row {

  }
  
  .container .row.header {
    flex: 0 1 auto;
  }
  
  .container .row.content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        width: 100%;     
  }

  @media (min-width: 480px){
    .container .row.content{
    }
}



  a {
      width: 100%;
  }



  p {
      margin: 0;
  }

  .separator {
      height: 64px;
  }

  @media (min-width: 480px){
    .separator{
        display : none; 
        visibility : hidden; 
    }
}
  
  .container .row.footer {
    background-color: #2B2D42;
    width: 100%;
  }

  @media (max-width: 480px){
    .container .row.footer{
        display : none; 
        visibility : hidden; 
    }

    .checkout.button {
        margin: 0;
    }

    .mat-raised-button {
        border-radius: 0;
    } */

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;
  
}

.container .row {
  /* border: 1px dotted grey; */
}

.container .row.header {
  flex: 0 1 auto;
  width: 100%;
  
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

/* @media (max-width: 800px) {
  .row.header {
    height: 118px;
    background-color: brown;
  }
}

@media (max-width: 668px) {
  .row.header {
    height: 62px;
    background-color: cadetblue;
  }
} */



.container .row.content {
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  max-width: 828px;

}

.container .row.footer {
  flex: 0 1 auto;
  color: black;
  padding: 64px 0 96px 0;
  width: 100%;
  /* background-color: #2b2d42; */
}

@media (max-width: 480px) {
  .container .row.footer {
    padding: 0;
  }
}



.row.cart.button {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (min-width: 480px){
  .row.cart.button{
      display : none; 
      visibility : hidden; 
  }
}

button {
  width: 100%;
  height: 64px;
  background-color:#E9D8B7;
  color: #2b2d42;
}

button p {
  margin: 0 0 0 0;
}

mat-progress-bar {
  background-color: transparent;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: black;
}

::ng-deep .mat-progress-bar-buffer {
  background-color:#E9D8B7;
}

::ng-deep .mat-progress-bar {
  border-radius: 0;
}

/* mat-progress-bar {
  display:none;
}
router-outlet + mat-progress-bar {
   display: block;
}
 */
/*  ::ng-deep #loading-bar-spinner {
  display: none;
  visibility: hidden;
} */