.container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
  .container .row {
    /* border: 1px dotted grey; */
  }
  
  .container .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }
  
  .container .row.content {

        padding-top: 128px;
        padding: 128px 32px 0;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        
  }

  @media (max-width: 480px){
    .container .row.content{
        
        padding: 64px 32px 0;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
}

  .container .row.cart.button {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      bottom: -3px;
      right: 0;
      left: 0;
      
  }

  @media (min-width: 480px){
    .container .row.cart.button{
        display : none; 
        visibility : hidden; 
    }
}

  a {
      width: 100%;
  }

  button {
      width: 100%;
      height: 64px;
      background-color: #FFFCE8;
  }

  .separator {
      height: 64px;
  }

  @media (min-width: 480px){
    .separator{
        display : none; 
        visibility : hidden; 
    }
}
  
  .container .row.footer {
    /* flex: 0 1 20px; */
    background-color: #2B2D42;
    
  }

  @media (max-width: 480px){
    .container .row.footer{
        display : none; 
        visibility : hidden; 
    }

    .checkout.button {
        margin: 0;
    }
}
  

