.router-outlet {
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: #FFFCE8;
    
    
    
    /* flex-grow: 1; */
}

.app-component-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-footer-container {
    flex-grow: 1;
}

router-outlet {
    
}

