<div class="container mat-typography">

  <!-- HEADER -->
  <div class="row header">
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="loader.value$ | async"></mat-progress-bar>
    <app-header></app-header>
  </div>

  <!-- CONTENT -->
  <div class="row content">
    
    <!-- <ngx-loading-bar fixed="false" color="#000" height="4px"></ngx-loading-bar> -->
    <router-outlet></router-outlet>
    
    <div class="separator" *ngIf="count > 0"></div>
  </div>
  
  <!-- FOOTER -->
  <div class="row footer">
    <app-footer></app-footer>
    
  </div>
  <div class="row cart button" *ngIf="!onCheckout && !onContactPage && count > 0 && isShopping">  
    <a routerLink="/shopping-cart" routerLinkActive="true">
      <button mat-raised-button color="transparent" >
        <p *ngIf="count < 2">{{count}} ITEM</p>
        <p *ngIf="count > 1">{{count}} ITEMS</p>
      </button>
      </a>
  </div>
  
</div>

