<script src="https://www.paypal.com/sdk/js?client-id=test"></script>
<script>paypal.Buttons().render('body');</script>

<div>
    <form novalidate (ngSubmit)="createToken()">
      <ngx-stripe-card-number></ngx-stripe-card-number>
      <ngx-stripe-card-expiry></ngx-stripe-card-expiry>
      <ngx-stripe-card-cvc></ngx-stripe-card-cvc>
        <ngx-stripe-card
          [elementsOptions]="elementsOptions"></ngx-stripe-card>
          <ngx-stripe-payment-request-button></ngx-stripe-payment-request-button>
        <button type="submit">
          CREATE TOKEN
        </button>
        <app-stripe-payment-button></app-stripe-payment-button>
      </form>
</div>