/* You can add global styles to this file, and also import other style files */
@import './theme.scss'; 
//the theme.scss contains $custom-theme defined above
@include angular-material-theme($lwa-color-palette);

html, body { 
    font-family: 'Forum', cursive;
    height: 100%;
    margin: 0;
    background-color: #F5F8DE;
}

.mat-typography {
    font-family: 'Forum', cursive;
}
