/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@font-face {
    font-family: 'Forum', cursive;
    src: url(assets/font/Forum-Regular.ttf) format("opentype");
  }
@import './theme.scss'; 
//the theme.scss contains $custom-theme defined above
@include angular-material-theme($lwa-color-palette);

html, body { 
    font-family: 'Forum', cursive;
    height: 100%;
    margin: 0;
    background-color: #FFFCE8;
}
