// Google font Forum-Regular
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import '~@angular/material/theming';
@import './theme_variables.scss';

@include mat-core();

// regular theme
$lwa-theme: mat-light-theme($lwa-primary, $lwa-accent, $lwa-warn);
// sand theme
/* $lwa-theme: mat-light-theme($lwa-sand-primary, $lwa-sand-accent, $lwa-sand-warn); */
// LWA typography
$general-typography: mat-typography-config(
  $font-family: '"Forum", cursive',
  $body-2:        mat-typography-level(14px, 24px, 600)  
);

// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);

// LWA theme
@include angular-material-theme($lwa-theme);

// regular theme
$lwa-primary: mat-palette($md-primary);
$lwa-accent: mat-palette($md-accent);
$lwa-warn: mat-palette($md-warn);

// sand theme
/* $lwa-primary: mat-palette($md-sand-primary2);
$lwa-accent: mat-palette($md-sand-accent2);
$lwa-accent: mat-palette($md-sand-warn); */

$lwa-color-palette: mat-light-theme($lwa-primary, $lwa-accent, $lwa-warn);

// Convert => mat-light-theme()
$lwa-color-palette: mat-light-theme($lwa-primary, $lwa-accent);

// Convert to this => mat-dark-theme()
$lwa-color-palette: mat-dark-theme($lwa-primary, $lwa-accent);