@import '~@angular/material/theming';
@import './theme_variables.scss';
@import url('//fonts.googleapis.com/css2?family=Forum&display=swap');
@include mat-core();

$lwa-theme: mat-light-theme($lwa-primary, $lwa-accent, $lwa-warn);

@include angular-material-theme($lwa-theme);







$lwa-primary: mat-palette($md-primary);
$lwa-accent: mat-palette($md-accent);
$lwa-warn: mat-palette($md-warn);

$lwa-color-palette: mat-light-theme($lwa-primary, $lwa-accent, $lwa-warn);

// Convert => mat-light-theme()
$lwa-color-palette: mat-light-theme($lwa-primary, $lwa-accent);

// Convert to this => mat-dark-theme()
$lwa-color-palette: mat-dark-theme($lwa-primary, $lwa-accent);